.select menu {
   width: 380px;
   margin: 150px auto;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;

    justify-content: space-between;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.select-btn i{
    font-size: 20px;
    transition: 0.3s ;

}

.select-menu.active .select-btn{
 
   transform: rotate(-1800deg);
}

.select-menu .option{
    position: relative;
    padding: auto;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.options .options{
    display: flex;
    height: 55px;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    background: #fff;
}

.options.option:hover{
background: #F2F2F2;
}
.options i{
font-size: 25px;
margin-right: 12px;
}

.options .option-text{
    font-size: #333;
}